Repository LeeCheneler/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: shfmt, shellcheck, dprint, cspell

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    shfmt:
      glob: "*.sh"
      run: shfmt -w {staged_files}
      stage_fixed: true
    shellcheck:
      glob: "*.sh"
      run: shellcheck -e SC1091 {staged_files}
    dprint:
      glob: "*.{md,json,yaml,yml}"
      run: dprint fmt {staged_files}
      stage_fixed: true
    cspell:
      glob: "*.md"
      run: cspell --no-progress --no-summary {staged_files}

feat: update init-copilot with Claude-powered prompt
  bin/init-copilot
Due: none

chore: remove PLAN.md - all phases complete
  PLAN.md
Due: dprint, cspell

chore(vscode): remove jest and vitest extensions
  config/vscode/extensions.txt
Due: none

feat(zsh): add secrets section to load tokens from 1Password
  config/zsh/.zshrc
Due: none

feat(vscode): add cyberpunk theme extensions
  config/vscode/extensions.txt
Due: none

feat(brew): add Victor Mono and Monaspace fonts
  Brewfile
  config/vscode/settings.json
Due: dprint

chore(vscode): revert to JetBrainsMono Nerd Font
  config/vscode/settings.json
Due: dprint

feat(vscode): switch JS/TS formatters from Biome to Deno
  config/vscode/settings.json
Due: dprint

chore: update vscode settings (copilot)
  config/vscode/settings.json
Due: dprint

chore: update vscode settings
  config/vscode/settings.json
Due: dprint

chore: update vscode config
  config/vscode/settings.json
Due: dprint

chore: update settings
  config/claude/settings.json
  config/vscode/extensions.txt
  config/vscode/settings.json
Due: dprint

feat(claude): allow read-only tools without prompts
  config/claude/settings.json
Due: dprint

chore(vscode): switch gitlens ai model to opus 4.5
  config/vscode/settings.json
Due: dprint

feat: update configs
  config/claude/settings.json
  config/vscode/settings.json
Due: dprint

chore(vscode): disable rich copy
  config/vscode/settings.json
Due: dprint

feat: updates
  config/claude/CLAUDE.md
  config/vscode/settings.json
Due: dprint, cspell

feat: config updates
  config/claude/settings.json
  config/vscode/settings.json
Due: dprint

feat: add superwhisper and update vscode settings
  Brewfile
  config/vscode/settings.json
Due: dprint

feat(git): add bd alias for force branch deletion
  config/git/.gitconfig
Due: none

feat(claude): add hooks to enforce workflow discipline
  config/claude/hooks/.gitkeep
  config/claude/hooks/pre-commit.py
  config/claude/hooks/pre-pr.py
  config/claude/hooks/pre-push.py
  config/claude/settings.json
  docs/plans/001-claude-hooks.md
Due: dprint, cspell

chore: remove plan file, update vscode theme
  config/vscode/settings.json
  docs/plans/001-claude-hooks.md
Due: dprint, cspell

docs(plans): add workflow framework plan
  docs/plans/002-workflow-slash-commands.md
Due: dprint, cspell

feat(claude): add workflow framework with research and planning agents
  config/claude/CLAUDE.md
  config/claude/agents/planner.md
  config/claude/agents/researcher.md
  config/claude/commands/abort.md
  config/claude/commands/begin.md
  config/claude/commands/commit.md
  config/claude/commands/dev.md
  config/claude/commands/next.md
  config/claude/commands/plan.md
  config/claude/commands/pr.md
  config/claude/commands/present.md
  config/claude/commands/research.md
  config/claude/commands/resume.md
  config/claude/commands/review.md
  config/claude/commands/signoff.md
  config/claude/commands/status.md
Due: dprint, cspell

docs: add claude setup documentation
  docs/claude-setup.md
Due: dprint, cspell

chore: rmeove executed plan
  docs/plans/002-workflow-slash-commands.md
Due: dprint, cspell

fix: symlink claude commands
  config/claude/commands/begin.md
  docs/claude-setup.md
  scripts/ai.sh
Due: shfmt, shellcheck, dprint, cspell

fix: enabling plan writing
  config/claude/agents/planner.md
  config/claude/agents/researcher.md
Due: dprint, cspell

feat: safer rm from claude
  README.md
  config/claude/hooks/protect-files.py
  config/claude/settings.json
  docs/claude-setup.md
Due: dprint, cspell

feat(claude): add memory and github mcp servers
  config/claude/settings.json
Due: dprint

docs(claude): document mcp server configuration and setup
  config/vscode/settings.json
  config/zsh/.zshrc
  cspell.json
  docs/claude-setup.md
  docs/plans/mcp-servers-setup/plan.md
  docs/plans/mcp-servers-setup/research.md
Due: dprint, cspell

chore(plans): mark mcp-servers-setup plan complete
  docs/plans/mcp-servers-setup/plan.md
Due: dprint, cspell

chore(plans): remove completed mcp-servers-setup plan
  docs/plans/mcp-servers-setup/plan.md
  docs/plans/mcp-servers-setup/research.md
Due: dprint, cspell

feat(agents): add github mcp integration instructions
  config/claude/agents/code-reviewer.md
  config/claude/agents/doc-writer.md
  config/claude/agents/planner.md
  config/claude/agents/pr-description.md
  config/claude/agents/researcher.md
  config/claude/agents/security-auditor.md
  cspell.json
Due: dprint, cspell

feat(claude): add /remember command and memory mcp integration
  config/claude/agents/planner.md
  config/claude/agents/researcher.md
  config/claude/commands/remember.md
Due: dprint, cspell

feat(commands): add memory integration to /research and /plan
  config/claude/commands/plan.md
  config/claude/commands/research.md
Due: dprint, cspell

feat(commands): add /recollect to manually recall memories
  config/claude/commands/recollect.md
Due: dprint, cspell

docs(claude): document memory commands and mcp integration
  docs/claude-setup.md
Due: dprint, cspell

Removes Biome extension from VS Code config
  config/vscode/extensions.txt
Due: none

feat: make sec audit optional before pr in dev workflow
  config/claude/CLAUDE.md
  config/claude/commands/next.md
  config/claude/commands/pr.md
  config/claude/commands/review.md
  config/claude/commands/security-audit.md
  config/vscode/settings.json
  docs/claude-setup.md
Due: dprint, cspell
