Repository LeeCheneler/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: shfmt, dprint

shfmt:
  run: shfmt -w {staged_files}
  stage_fixed: true

dprint:
  run: dprint fmt {staged_files}
  stage_fixed: true

Update Phase 1 progress in PLAN.md
  PLAN.md
Due: dprint

Rename bootstrap.sh to apply.sh
  PLAN.md
  README.md
  apply.sh
Due: shfmt, dprint

Add package management (Phase 2)
  Brewfile
  PLAN.md
  apply.sh
  scripts/.gitkeep
  scripts/packages.sh
Due: shfmt, dprint

Update plan with kitty, starship, and backup strategy
  PLAN.md
Due: dprint

Add shell configuration (Phase 3)
  Brewfile
  PLAN.md
  apply.sh
  config/kitty/kitty.conf
  config/starship/starship.toml
  config/zsh/.gitkeep
  config/zsh/.zshrc
  scripts/shell.sh
Due: shfmt, dprint

Show kitty title bar for window dragging
  config/kitty/kitty.conf
Due: none

Add Google Chrome to Brewfile
  Brewfile
Due: none

Add .zshrc.local support for machine-specific overrides
  config/zsh/.zshrc
Due: none

Update README with current state
  README.md
Due: dprint

Add git configuration (Phase 4)
  PLAN.md
  apply.sh
  config/git/.gitconfig
  config/git/.gitkeep
  scripts/git.sh
Due: shfmt, dprint

feat: add Claude apps and ~/.local/bin to PATH
  Brewfile
  config/zsh/.zshrc
Due: none

docs: add Claude apps to README
  README.md
Due: dprint

feat: add shift+enter keybinding and update clear command in kitty
  config/kitty/kitty.conf
Due: none

feat: add remote control and splits layout to kitty config
  config/kitty/kitty.conf
Due: none

feat: switch from fnm to mise for runtime version management
  Brewfile
  README.md
  config/starship/starship.toml
  config/zsh/.zshrc
Due: dprint

feat: add AI tooling configuration (Phase 5)
  PLAN.md
  README.md
  apply.sh
  bin/init-copilot
  config/claude/CLAUDE.md
  config/claude/agents/.gitkeep
  config/claude/hooks/.gitkeep
  config/claude/settings.json
  config/copilot/.gitkeep
  config/copilot/copilot-instructions.md
  config/zsh/.zshrc
  scripts/ai.sh
Due: shfmt, dprint

fix: correct SSH authentication check in git.sh
  scripts/git.sh
Due: shfmt

fix: simplify SSH auth check pattern (avoid apostrophe escaping)
  scripts/git.sh
Due: shfmt

fix: handle ssh exit code 1 with pipefail enabled
  scripts/git.sh
Due: shfmt

refactor: extract shared helper functions to lib/helpers.sh
  scripts/ai.sh
  scripts/git.sh
  scripts/lib/helpers.sh
  scripts/shell.sh
Due: shfmt

chore: added spellcheck pre-commit hook
  Brewfile
  lefthook.yml
Due: dprint

feat: add shellcheck to pre-commit hooks, polish README
  PLAN.md
  README.md
Due: dprint

chore: format README
  README.md
Due: dprint

docs: add comprehensive enhancement plan
  PLAN.md
Due: dprint

feat: add VSCode extensions and settings management
  apply.sh
  config/vscode/extensions.txt
  config/vscode/settings.json
  scripts/vscode.sh
Due: shfmt, dprint

docs: update PLAN.md and README.md for Phase 1 completion
  PLAN.md
  README.md
Due: dprint

feat: add 7 Claude Code agents
  config/claude/agents/.gitkeep
  config/claude/agents/code-reviewer.md
  config/claude/agents/commit-message.md
  config/claude/agents/doc-writer.md
  config/claude/agents/pr-description.md
  config/claude/agents/refactor-advisor.md
  config/claude/agents/security-auditor.md
  config/claude/agents/test-writer.md
Due: dprint

feat: add YAML frontmatter to all Claude agents + improve code-reviewer
  config/claude/agents/code-reviewer.md
  config/claude/agents/commit-message.md
  config/claude/agents/doc-writer.md
  config/claude/agents/pr-description.md
  config/claude/agents/refactor-advisor.md
  config/claude/agents/security-auditor.md
  config/claude/agents/test-writer.md
Due: dprint

feat: rewrite test-writer agent to world-class status
  config/claude/agents/test-writer.md
Due: dprint

feat: rewrite doc-writer agent to world-class status
  config/claude/agents/doc-writer.md
Due: dprint

feat: rewrite refactor-advisor agent to world-class status
  config/claude/agents/refactor-advisor.md
Due: dprint

feat: rewrite security-auditor agent to world-class status
  config/claude/agents/security-auditor.md
Due: dprint

feat: enhance commit-message agent to world-class status
  config/claude/agents/commit-message.md
Due: dprint

feat: enhance pr-description agent to world-class status
  config/claude/agents/pr-description.md
Due: dprint

docs: update PLAN.md and README.md for Phase 2 completion
  PLAN.md
  README.md
Due: dprint

chore: formatting
  README.md
Due: dprint

feat: add cspell for markdown spell checking in pre-commit
  Brewfile
  README.md
  cspell.json
  lefthook.yml
Due: dprint

feat: rewrite CLAUDE.md and add init-claude script
  PLAN.md
  README.md
  bin/init-claude
  config/claude/CLAUDE.md
  cspell.json
Due: dprint

feat: rewrite copilot-instructions.md template
  PLAN.md
  config/copilot/copilot-instructions.md
Due: dprint

docs: mark Phase 5 integration complete
  PLAN.md
Due: dprint

Path conditions:
  shfmt: any of: *.sh
  dprint: any of: *.{md,json,yaml,yml}
