Repository LeeCheneler/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: shfmt, shellcheck, dprint, cspell

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    shfmt:
      glob: "*.sh"
      run: shfmt -w {staged_files}
      stage_fixed: true
    shellcheck:
      glob: "*.sh"
      run: shellcheck -e SC1091 {staged_files}
    dprint:
      glob: "*.{md,json,yaml,yml}"
      run: dprint fmt {staged_files}
      stage_fixed: true
    cspell:
      glob: "*.md"
      run: cspell --no-progress --no-summary {staged_files}

refactor(claude): split researcher into codebase and web agents
  config/claude/agents/codebase-researcher.md
  config/claude/agents/web-researcher.md
  config/claude/docs/WORKFLOWS.md
  config/claude/skills/plan/SKILL.md
  config/claude/skills/workflow/SKILL.md
Due: dprint, cspell

chore(claude): set researcher agents to opus model
  config/claude/agents/codebase-researcher.md
  config/claude/agents/web-researcher.md
Due: dprint, cspell

chore(claude): set reviewer agent to opus model
  config/claude/agents/reviewer.md
Due: dprint, cspell

refactor(claude): require filepath for researcher agent output
  config/claude/agents/codebase-researcher.md
  config/claude/agents/web-researcher.md
Due: dprint, cspell

refactor(claude): standardize agent file format
  config/claude/agents/codebase-researcher.md
  config/claude/agents/reviewer.md
  config/claude/agents/test-runner.md
  config/claude/agents/web-researcher.md
Due: dprint, cspell

refactor(claude): move review to agent-only, improve context gathering
  config/claude/CLAUDE.md
  config/claude/agents/reviewer.md
  config/claude/skills/review/SKILL.md
Due: dprint, cspell

refactor(claude): add top-down context gathering to codebase researcher
  config/claude/agents/codebase-researcher.md
Due: dprint, cspell

chore(claude): remove outdated setup and planning documentation
  docs/claude-setup.md
  docs/plans/claude-updates/plan.md
Due: dprint, cspell

refactor(claude): consolidate skills, rename to gerund form, clean up
  config/claude/CLAUDE.md
  config/claude/agents/reviewer.md
  config/claude/docs/ARCHITECTURE.md
  config/claude/docs/CONVENTIONS.md
  config/claude/docs/WORKFLOWS.md
  config/claude/skills/claude-md-authoring/SKILL.md
  config/claude/skills/code-reviewing/SKILL.md
  config/claude/skills/commit-authoring/SKILL.md
  config/claude/skills/commit-conventions/SKILL.md
  config/claude/skills/commit/SKILL.md
  config/claude/skills/implementation-planning/SKILL.md
  config/claude/skills/pr-authoring/SKILL.md
  config/claude/skills/refresh-project/SKILL.md
  config/claude/skills/test-authoring/SKILL.md
  config/claude/skills/test-running/SKILL.md
  config/claude/skills/test/SKILL.md
  config/claude/skills/workflow/SKILL.md
  config/claude/skills/write-tests/SKILL.md
Due: dprint, cspell

refactor(claude): flip to fat-skill thin-agent architecture
  config/claude/CLAUDE.md
  config/claude/agents/codebase-researcher.md
  config/claude/agents/reviewer.md
  config/claude/agents/test-runner.md
  config/claude/agents/web-researcher.md
  config/claude/skills/code-reviewing/SKILL.md
  config/claude/skills/codebase-researching/SKILL.md
  config/claude/skills/test-running/SKILL.md
  config/claude/skills/web-researching/SKILL.md
Due: dprint, cspell

fix(claude): remove unsupported frontmatter from skill files
  config/claude/skills/claude-md-authoring/SKILL.md
  config/claude/skills/code-reviewing/SKILL.md
  config/claude/skills/codebase-researching/SKILL.md
  config/claude/skills/commit-authoring/SKILL.md
  config/claude/skills/implementation-planning/SKILL.md
  config/claude/skills/pr-authoring/SKILL.md
  config/claude/skills/test-authoring/SKILL.md
  config/claude/skills/test-running/SKILL.md
  config/claude/skills/web-researching/SKILL.md
Due: dprint, cspell

fix(claude): use single-line descriptions in skill frontmatter
  config/claude/skills/claude-md-authoring/SKILL.md
  config/claude/skills/code-reviewing/SKILL.md
  config/claude/skills/codebase-researching/SKILL.md
  config/claude/skills/coding-standards/SKILL.md
  config/claude/skills/commit-authoring/SKILL.md
  config/claude/skills/implementation-planning/SKILL.md
  config/claude/skills/test-authoring/SKILL.md
  config/claude/skills/test-running/SKILL.md
  config/claude/skills/web-researching/SKILL.md
Due: dprint, cspell

refactor(claude): split coding-standards into layered coding skill family
  config/claude/CLAUDE.md
  config/claude/agents/codebase-researcher.md
  config/claude/agents/reviewer.md
  config/claude/settings.json
  config/claude/skills/coding-react/SKILL.md
  config/claude/skills/coding-standards/SKILL.md
  config/claude/skills/coding-tests/SKILL.md
  config/claude/skills/coding-typescript/SKILL.md
  config/claude/skills/coding/SKILL.md
  config/claude/skills/test-authoring/SKILL.md
Due: dprint, cspell

refactor(claude): consolidate skills and add spec-driven workflow
  config/claude/CLAUDE.md
  config/claude/agents/codebase-researcher.md
  config/claude/agents/committer.md
  config/claude/agents/pr-creator.md
  config/claude/agents/researcher.md
  config/claude/agents/reviewer.md
  config/claude/agents/test-runner.md
  config/claude/agents/web-researcher.md
  config/claude/skills/claude-md/SKILL.md
  config/claude/skills/codebase-researching/SKILL.md
  config/claude/skills/coding-react/SKILL.md
  config/claude/skills/coding-tests/SKILL.md
  config/claude/skills/coding-typescript/SKILL.md
  config/claude/skills/coding/SKILL.md
  config/claude/skills/coding/references/examples.md
  config/claude/skills/commit/SKILL.md
  config/claude/skills/do-spec/SKILL.md
  config/claude/skills/help/SKILL.md
  config/claude/skills/implementation-planning/SKILL.md
  config/claude/skills/pr/SKILL.md
  config/claude/skills/quick-spec/SKILL.md
  config/claude/skills/research/SKILL.md
  config/claude/skills/review/SKILL.md
  config/claude/skills/slow-spec/SKILL.md
  config/claude/skills/test/SKILL.md
  config/claude/skills/web-researching/SKILL.md
Due: dprint, cspell

docs(claude): update README and CLAUDE.md to reflect skills-based architecture
  README.md
  config/claude/CLAUDE.md
Due: dprint, cspell

chore(brew): add poppler for PDF processing support
  Brewfile
Due: none

feat(claude): add multi-account support via claude-bpp alias
  config/zsh/.zshrc
  scripts/ai.sh
Due: shfmt, shellcheck

refactor(claude): move spec directory from docs/specs/ to .wip/
  config/claude/skills/do-spec/SKILL.md
  config/claude/skills/quick-spec/SKILL.md
  config/claude/skills/slow-spec/SKILL.md
Due: dprint, cspell

feat(claude): add checkbox progress tracking to spec skills
  config/claude/settings.json
  config/claude/skills/do-spec/SKILL.md
  config/claude/skills/quick-spec/SKILL.md
  config/claude/skills/slow-spec/SKILL.md
Due: dprint, cspell

feat(claude): strengthen spec workflow gates and add lifecycle checklists
  config/claude/settings.json
  config/claude/skills/do-spec/SKILL.md
  config/claude/skills/quick-spec/SKILL.md
  config/claude/skills/slow-spec/SKILL.md
Due: dprint, cspell

fix(claude): use colon-separated syntax for permission patterns
  config/claude/settings.json
Due: dprint

feat(claude): strengthen spec skill guardrails and do-spec execution rules
  config/claude/skills/do-spec/SKILL.md
  config/claude/skills/quick-spec/SKILL.md
  config/claude/skills/slow-spec/SKILL.md
Due: dprint, cspell

feat(claude): prompt for issue/ticket number in do-spec and pr skills
  config/claude/skills/do-spec/SKILL.md
  config/claude/skills/pr/SKILL.md
Due: dprint, cspell

chore(scripts): remove bpp claude code config directory setup
  scripts/ai.sh
Due: shfmt, shellcheck

chore(claude): remove skills and agents
  config/claude/CLAUDE.md
  config/claude/agents/committer.md
  config/claude/agents/pr-creator.md
  config/claude/agents/researcher.md
  config/claude/agents/reviewer.md
  config/claude/agents/test-runner.md
  config/claude/settings.json
  config/claude/skills/claude-md/SKILL.md
  config/claude/skills/coding/SKILL.md
  config/claude/skills/coding/references/examples.md
  config/claude/skills/commit/SKILL.md
  config/claude/skills/do-spec/SKILL.md
  config/claude/skills/help/SKILL.md
  config/claude/skills/pr/SKILL.md
  config/claude/skills/quick-spec/SKILL.md
  config/claude/skills/research/SKILL.md
  config/claude/skills/review/SKILL.md
  config/claude/skills/slow-spec/SKILL.md
  config/claude/skills/test/SKILL.md
  scripts/ai.sh
Due: shfmt, shellcheck, dprint, cspell

feat(claude): add extra known marketplaces config
  config/claude/settings.json
Due: dprint

feat(zsh): add Tavily API Key to 1Password secret loading
  config/zsh/.zshrc
Due: none

feat(ai): add tomo config symlink and update 1Password secrets
  config/tomo/config.yaml
  config/zsh/.zshrc
  dprint.json
  lefthook.yml
  scripts/ai.sh
Due: shfmt, shellcheck, dprint

feat(ai): add local LLM tooling (mlx-lm, hf, ollama)
  Brewfile
  README.md
  config/zsh/.zshrc
  cspell.json
  scripts/ai.sh
Due: shfmt, shellcheck, dprint, cspell

chore(claude): remove compaction guidance section
  config/claude/CLAUDE.md
Due: dprint, cspell

chore(tomo): update skillset config to new format
  config/tomo/config.yaml
Due: dprint

feat(mlx): add mlx-server script and update config for MLX API
  README.md
  bin/mlx-server
  config/tomo/config.yaml
Due: dprint, cspell

refactor(ai): drop custom mlx wrapper for oMLX app
  Brewfile
  README.md
  bin/mlx
  config/tomo/config.yaml
Due: dprint, cspell

refactor: remove AI/ML related configurations and commands
  Brewfile
  README.md
  bin/dotfiles
  config/opencode/opencode.json
  config/tomo/config.yaml
  config/zsh/.zshrc
  scripts/ai.sh
Due: shfmt, shellcheck, dprint, cspell

feat(brew): add bun runtime and oven-sh tap
  Brewfile
Due: none

Revert "feat(brew): add bun runtime and oven-sh tap"
  Brewfile
Due: none

feat(vscode): add Bun extension
  config/vscode/extensions.txt
Due: none

feat(claude): add statusline, auto mode, and dev tooling updates
  Brewfile
  config/claude/settings.json
  config/claude/statusline-command.sh
  scripts/ai.sh
Due: shfmt, shellcheck, dprint

feat(claude): truncate git branch name to 15 chars in statusline
  config/claude/statusline-command.sh
Due: shfmt, shellcheck

feat(zsh): export GITHUB_WORKFLOW_TOKEN from GitHub PAT
  config/zsh/.zshrc
Due: none
