Repository LeeCheneler/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: shfmt, shellcheck, dprint, cspell

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    shfmt:
      glob: "*.sh"
      run: shfmt -w {staged_files}
      stage_fixed: true
    shellcheck:
      glob: "*.sh"
      run: shellcheck -e SC1091 {staged_files}
    dprint:
      glob: "*.{md,json,yaml,yml}"
      run: dprint fmt {staged_files}
      stage_fixed: true
    cspell:
      glob: "*.md"
      run: cspell --no-progress --no-summary {staged_files}

feat: add new-worktree git worktree helper
  bin/new-worktree
  config/claude/CLAUDE.md
  cspell.json
Due: dprint, cspell

chore(claude): enable frontend-design plugin, raise effort to xhigh, disable workflows
  config/claude/settings.json
Due: dprint

chore(tomo): switch to lmstudio provider and add lore MCP connection
  config/tomo/config.yaml
Due: dprint

chore(claude): default to a worktree when starting new work
  config/claude/CLAUDE.md
Due: dprint, cspell

fix(ai): symlink statusline-command.sh for new machine setup
  scripts/ai.sh
Due: shfmt, shellcheck

docs: list new-worktree in dotfiles help and README
  README.md
  bin/dotfiles
Due: dprint, cspell

feat(new-worktree): trust mise config in new worktrees
  bin/new-worktree
Due: none

feat(new-worktree): auto-install bun deps
  bin/new-worktree
Due: none

fix(new-worktree): install mise-managed deps via mise exec
  bin/new-worktree
Due: none

feat(zsh): export GITHUB_MCP_AUTH_HEADER from GitHub token
  config/zsh/.zshrc
Due: none

chore(claude): enable fullscreen tui
  config/claude/settings.json
Due: dprint

fix(zsh): stop standalone pnpm shadowing mise on PATH
  config/zsh/.zshrc
Due: none

feat(zsh): add DeepInfra API key to secrets loading
  config/claude/settings.json
  config/zsh/.zshrc
Due: dprint

feat(rm-worktree): add command to tear down a git worktree
  README.md
  bin/dotfiles
  bin/rm-worktree
  config/claude/CLAUDE.md
Due: dprint, cspell

feat(rm-worktree): delete the worktree's branch on removal
  README.md
  bin/rm-worktree
  config/claude/CLAUDE.md
Due: dprint, cspell

feat(zsh): add OpenRouter Management API key to secrets loading
  config/claude/settings.json
  config/vscode/settings.json
  config/zsh/.zshrc
Due: dprint

feat(Brewfile): add Zed code editor to GUI applications fix(settings): update permissions and enhance autoMode configuration
  Brewfile
  config/claude/settings.json
Due: dprint

feat(zsh): add Retro Diffusion API key and auth header to secrets loading
  config/zsh/.zshrc
Due: none
