Repository LeeCheneler/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: shfmt, shellcheck, dprint, cspell

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    shfmt:
      glob: "*.sh"
      run: shfmt -w {staged_files}
      stage_fixed: true
    shellcheck:
      glob: "*.sh"
      run: shellcheck -e SC1091 {staged_files}
    dprint:
      glob: "*.{md,json,yaml,yml}"
      run: dprint fmt {staged_files}
      stage_fixed: true
    cspell:
      glob: "*.md"
      run: cspell --no-progress --no-summary {staged_files}

fix: autocd in zsh
  config/vscode/settings.json
  config/zsh/.zshrc
Due: dprint

chore: moved secret loading to its own function
  README.md
  config/zsh/.zshrc
Due: dprint, cspell

feat: add rust installation
  Brewfile
Due: none

chore: update vscode config
  config/vscode/settings.json
Due: dprint

feat(workflow): improve dev workflow UX
  config/claude/commands/begin.md
  config/claude/commands/next.md
  config/claude/commands/plan.md
  config/claude/commands/pr.md
Due: dprint, cspell

feat(spell-check): add custom words to spell checker configuration
  config/vscode/settings.json
Due: dprint

feat: updated claude setup
  config/claude/CLAUDE.md
  config/claude/agents/code-reviewer.md
  config/claude/agents/commit-message.md
  config/claude/agents/doc-writer.md
  config/claude/agents/git-summarizer.md
  config/claude/agents/planner.md
  config/claude/agents/pr-description.md
  config/claude/agents/refactor-advisor.md
  config/claude/agents/researcher.md
  config/claude/agents/security-auditor.md
  config/claude/agents/test-runner.md
  config/claude/agents/test-writer.md
  config/claude/commands/commit.md
  config/claude/commands/dev.md
  config/claude/commands/next.md
  config/claude/commands/pr.md
  cspell.json
Due: dprint, cspell

feat: streamline code reviewer output
  config/claude/agents/code-reviewer.md
Due: dprint, cspell

feat: add mole to Brewfile and update VSCode settings
  Brewfile
  config/vscode/extensions.txt
  config/vscode/settings.json
Due: dprint

feat(shell): add update-apps function for Homebrew package updates
  README.md
  config/zsh/.zshrc
Due: dprint, cspell

refactor(claude): remove Memory MCP server and memory commands
  config/claude/CLAUDE.md
  config/claude/agents/planner.md
  config/claude/agents/researcher.md
  config/claude/commands/plan.md
  config/claude/commands/recollect.md
  config/claude/commands/remember.md
  config/claude/commands/research.md
  config/claude/settings.json
  docs/claude-setup.md
Due: dprint, cspell

refactor(claude): remove GitHub MCP server, use gh CLI instead
  config/claude/agents/code-reviewer.md
  config/claude/agents/doc-writer.md
  config/claude/agents/planner.md
  config/claude/agents/pr-description.md
  config/claude/agents/researcher.md
  config/claude/agents/security-auditor.md
  config/claude/settings.json
  docs/claude-setup.md
Due: dprint, cspell

fix(claude): replace rigid Biome rule with project-first formatting guidance
  config/claude/CLAUDE.md
Due: dprint, cspell

fix(claude): use Glob instead of find in researcher agent
  config/claude/agents/researcher.md
Due: dprint, cspell

refactor(claude): trim CLAUDE.md rules that duplicate default behavior
  config/claude/CLAUDE.md
Due: dprint, cspell

fix(brewfile): add 1password-cli for load-secrets support
  Brewfile
Due: none

docs: update README to reflect current state
  README.md
Due: dprint, cspell

refactor(claude): streamline setup - rewrite CLAUDE.md, consolidate commands, remove agents
  README.md
  config/claude/CLAUDE.md
  config/claude/agents/code-reviewer.md
  config/claude/agents/doc-writer.md
  config/claude/agents/git-summarizer.md
  config/claude/agents/refactor-advisor.md
  config/claude/agents/security-auditor.md
  config/claude/commands/abort.md
  config/claude/commands/begin.md
  config/claude/commands/commit.md
  config/claude/commands/dev.md
  config/claude/commands/next.md
  config/claude/commands/plan.md
  config/claude/commands/pr.md
  config/claude/commands/present.md
  config/claude/commands/research.md
  config/claude/commands/resume.md
  config/claude/commands/review.md
  config/claude/commands/security-audit.md
  config/claude/commands/signoff.md
  config/claude/commands/status.md
  docs/claude-setup.md
Due: dprint, cspell

fix(claude): polish setup - fix stale refs, simplify permissions, improve hooks
  config/claude/agents/code-reviewer.md
  config/claude/agents/commit-message.md
  config/claude/agents/researcher.md
  config/claude/hooks/pre-commit.py
  config/claude/hooks/pre-push.py
  config/claude/hooks/protect-files.py
  config/claude/settings.json
  docs/claude-setup.md
Due: dprint, cspell

fix(claude): fix researcher agent markdown template nesting
  config/claude/agents/researcher.md
Due: dprint, cspell

feat(claude): add LSP, auto-format, skills, compaction, notifications, Context7, statusline
  config/claude/CLAUDE.md
  config/claude/hooks/auto-format.py
  config/claude/settings.json
  config/claude/skills/abort/SKILL.md
  config/claude/skills/begin/SKILL.md
  config/claude/skills/next/SKILL.md
  config/claude/skills/pr/SKILL.md
  config/claude/skills/review/SKILL.md
  config/claude/skills/security-audit/SKILL.md
  config/claude/skills/status/SKILL.md
  config/claude/statusline.sh
  scripts/ai.sh
Due: shfmt, shellcheck, dprint, cspell

feat: remove claude status line
  config/claude/settings.json
  config/claude/statusline.sh
Due: shfmt, shellcheck, dprint

feat: remove claude status line
  docs/plans/claude-setup-review/research.md
  scripts/ai.sh
Due: shfmt, shellcheck, dprint, cspell

chore: claude config update
  config/claude/settings.json
Due: dprint

refactor(claude): simplify workflow with leaner agents and skills
  config/claude/CLAUDE.md
  config/claude/agents/code-reviewer.md
  config/claude/agents/planner.md
  config/claude/agents/researcher.md
  config/claude/agents/security-auditor.md
  config/claude/hooks/auto-format.py
  config/claude/settings.json
  config/claude/skills/abort/SKILL.md
  config/claude/skills/begin/SKILL.md
  config/claude/skills/commit/SKILL.md
  config/claude/skills/next/SKILL.md
  config/claude/skills/pr/SKILL.md
  config/claude/skills/security-audit/SKILL.md
  config/claude/skills/status/SKILL.md
  cspell.json
  docs/claude-setup.md
Due: dprint, cspell

feat(claude): add agent teams orchestration and config improvements
  bin/init-claude
  config/claude/CLAUDE.md
  config/claude/agents/code-reviewer.md
  config/claude/agents/commit-message.md
  config/claude/agents/pr-description.md
  config/claude/agents/test-runner.md
  config/claude/agents/test-writer.md
  config/claude/hooks/pre-commit.py
  config/claude/hooks/pre-push.py
  config/claude/hooks/pre-terraform.py
  config/claude/hooks/task-completed.py
  config/claude/hooks/teammate-idle.py
  config/claude/settings.json
Due: dprint, cspell

feat(claude): add ADR scanning and command discovery guidance
  config/claude/CLAUDE.md
  config/claude/agents/code-reviewer.md
Due: dprint, cspell

feat(claude): improve agents, hooks, and DX from review findings
  bin/init-claude
  config/claude/CLAUDE.md
  config/claude/agents/commit-message.md
  config/claude/agents/pr-description.md
  config/claude/agents/test-writer.md
  config/claude/hooks/auto-format.py
  config/claude/hooks/pre-install.py
  config/claude/settings.json
Due: dprint, cspell

feat(claude): add frontmatter to commands for model and tool config
  config/claude/commands/commit.md
  config/claude/commands/init-project.md
  config/claude/commands/plan.md
  config/claude/commands/pr.md
  config/claude/commands/refresh-project.md
  config/claude/commands/review.md
  config/claude/commands/test.md
  config/claude/commands/workflow.md
  config/claude/commands/write-tests.md
Due: dprint, cspell

feat(claude): skip confirmation prompts in commit and pr commands
  config/claude/commands/commit.md
  config/claude/commands/pr.md
Due: dprint, cspell

chore(claude): remove redundant PreToolUse:Bash prompt hook
  config/claude/settings.json
Due: dprint

docs(claude): add good/bad examples to coding-standards skill
  config/claude/skills/coding-standards/SKILL.md
  config/claude/skills/test-conventions/SKILL.md
  docs/plans/claude-setup-refactor/plan.md
  docs/plans/claude-updates/plan.md
Due: dprint, cspell

docs(claude): add good/bad examples to commit-conventions skill
  config/claude/skills/commit-conventions/SKILL.md
Due: dprint, cspell

refactor(claude): restructure agents for context-efficient summarization
  config/claude/agents/coder.md
  config/claude/agents/planner.md
  config/claude/agents/researcher.md
  config/claude/agents/reviewer.md
  config/claude/agents/test-runner.md
  config/claude/agents/test-writer.md
Due: dprint, cspell

refactor(claude): update commands for new agent architecture
  config/claude/commands/plan.md
  config/claude/commands/workflow.md
Due: dprint, cspell

docs(claude): add structured format to compaction guidance
  config/claude/CLAUDE.md
Due: dprint, cspell

docs(claude): update architecture docs for new agent model
  config/claude/docs/ARCHITECTURE.md
  config/claude/docs/WORKFLOWS.md
Due: dprint, cspell

chore(claude): assign explicit model to all agents
  config/claude/agents/researcher.md
  config/claude/agents/reviewer.md
Due: dprint, cspell

refactor(claude): migrate all commands to skills
  config/claude/CLAUDE.md
  config/claude/docs/ARCHITECTURE.md
  config/claude/skills/commit/SKILL.md
  config/claude/skills/init-project/SKILL.md
  config/claude/skills/plan/SKILL.md
  config/claude/skills/pr/SKILL.md
  config/claude/skills/refresh-project/SKILL.md
  config/claude/skills/review/SKILL.md
  config/claude/skills/test/SKILL.md
  config/claude/skills/workflow/SKILL.md
  config/claude/skills/write-tests/SKILL.md
Due: dprint, cspell
